<?xml version="1.0" encoding="UTF-8"?>
<device id="bb103877-8335-444a-be5f-db8d916f6750" ambient="room" type="room" description="ST_001" capacity="50">
	<functionality>
		<description>temperature</description>
	</functionality>
	<functionality>
		<description>luminosity</description>
	</functionality>
	<functionality port="COM5">
		<description>lights</description>
			<command>lightOn</command>
			<command>tightOff</command>
	</functionality>
</device>